body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    background-image: url('10843397.png');
    background-size:cover;
    
}

#password-generator {
    background: linear-gradient(to right, #ff9933, #ffcc00, #138808);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: #138808;
    margin-bottom: 20px;
    font-size: 2.5em;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #ff9933;
    /* Saffron */
}

input {
    padding: 12px;
    width: calc(100% - 24px);
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #e91e63;
    /* Pink */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c2185b;
    /* Darker Pink */
}

#password-output,
#strength-indicator {
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    word-break: break-all;
    background-color: rgba(255, 255, 255, 0.8);
    /* White with transparency */
    font-family: 'Courier New', monospace;
    font-size: 18px;
    letter-spacing: 2px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#strength-indicator {
    margin-top: 10px;
    color: #555;
}

.copy-btn {
    background-color: #ff5722;
    /* Orange */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color: #e64a19;
    /* Darker Orange */
}